.contact-form

	= simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
		.row
			.col-lg-12
				= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control", placeholder: "Nombre", required: "required"}

			.col-lg-12
				= f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required"}

			.col-lg-12
				= f.input :subject, label: false, input_html: {class: "form-control", placeholder: "Asunto"}

			.col-lg-12
				= f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje..."}
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.pull-left
					= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true

			.col-lg-6.col-md-6.col-sm-6.col-xs-12.form-actions
				= f.button :submit, "Enviar", class: "btn btn-primary", id: "btn-submit"

:javascript
	$('#btn-submit').attr('disabled', 'disabled');
	$( ".contact-form" ).mouseover(function () {
		contact_form();
	});
		$( ".contact-form" ).keyup(function() {
		contact_form();
	});
	
	function contact_form(){
		name = $('#message_name').val();
		email = $('#message_email').val();
		subject = $('#message_subject').val();
		content = $('#message_content').val();
		recaptcha = $('#g-recaptcha-response').val();

		if (name != "" && email != "" && subject != "" && content != "" && recaptcha != "" ){
			$('#btn-submit').removeAttr('disabled')
		}
	}