%section#about
	.about
		.center-h
			.about-content
				.about-logo.animated
					= image_tag('frontend/Logo_color.png')
				.about-text.animated
					.center-h
						.center-v
							#text-about
								Somos una empresa especializada en la creación y gerencia de hoteles. Brindamos la asesoría necesaria para: La apertura de nuevos hoteles, el mejoramiento de hoteles establecidos, gerencia de hoteles, capacitación de personal, establecimiento y estandarización de procesos. Ofrecemos la dotación necesaria, en cuanto a hotelería se refiere, suministro constante.