%section#blog
	.blog
		.center-h
			.center-v
				.title
					Noticias
				.separator
					.center-h
						.sep-line
				.subtitle
					Contenido especialmente diseñado para ti
				.posts
					- @posts.each do |post| 
						.single-post{style: "background-image: url('#{post.image}')"}
							.mask-info
								.center-h
									.center-v
										= l( post.created_at, format: "%d %B, %Y")
										=link_to "/blog/#{post.permalink}" do
											= post.title
										.separator
											.center-h
												.sep-line
										%label= "By #{post.user.name}"

