%section#contact
	.contact
		.center-h
			.center-v
				.title
					Contactos
				.separator
					.center-h
						.sep-line
				.subtitle
					Comunícate con nosotros y hagamos cosas extraordinarias

				= render "keppler_contact_us/messages/form"