.footer#footer
	.center-h
		.center-v
			= image_tag('frontend/Logo_blanco.png', id: "logo-footer")
			= image_tag('frontend/linea_footer.png', id: 'linea_footer')
			.social-icons
				.icon
					.center-h
						.center-v
							= link_to "#" do
								%i.fa.fa-facebook
				.icon
					.center-h
						.center-v
							= link_to "#" do
								%i.fa.fa-twitter
				.icon
					.center-h
						.center-v
							= link_to "#" do
								%i.fa.fa-instagram
			.contacts
				%label info@gerenciahotelera.com
				%label +58 +414 1377713
			.slice
				Desarrollado por
				= link_to "http://slicegroup.xyz" do
					= image_tag('frontend/Slice.png', id: 'logo-slice')
