%section.home#home

	= render "layouts/frontend/messages"
	.home-text
		.center-h
			.center-v
				.welcome
					%span ¡BIENVENIDOS!
					#text-welcome
						Impulsamos los ingresos de su hotel
					%a{ onclick: "scrollToAnchor('about')"} VER MAS

	.prev
		.center-h
			.center-v
				%li.fa.fa-angle-left
	.home-slide
		.home-slide-container{style: "background-image: url('assets/frontend/Home-1.jpg')"}
			.slide-mask

		.home-slide-container{style: "background-image: url('assets/frontend/Home-2.jpg')"}
			.slide-mask

		.home-slide-container{style: "background-image: url('assets/frontend/Home-3.jpg')"}
			.slide-mask

		.home-slide-container{style: "background-image: url('assets/frontend/Home-4.png')"}
			.slide-mask
	.next
		.center-h
			.center-v
				%li.fa.fa-angle-right


:javascript
	$('.home-slide').slick({
		infinite: true,
		slidesToShow: 1,
		slidesToScroll: 1,
		dots: true,
		autoplay: true,
		autoplaySpeed: 5000,
		fade: true,
		pauseOnHover: false,
		speed: 1000,
		prevArrow: $('.prev'),
		nextArrow: $('.next')
	});