#modal1.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg{:role => "document"}
		.modal-content
			%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
				%span{"aria-hidden" => "true"} &times;
			.modal-body
				.modal-img-1
				.modal-text#text-1
					.center-h
						.center-v
							.content-title
								Apertura Hotelera
							.content-txt
								Creamos un hotel desde las ideas, cuidando cada detalle durante su desarrollo, adaptándonos al entorno y al presupuesto del inversor, optimizando los recursos y materiales para lograr construcciones de tendencias vanguardistas, ya sea por mejora o llave en mano.
			.modal-footer
				Comunícate con nosotros y hagamos cosas extraordinarias
				%li
					%a{ onclick: "scrollToAnchor('contact'); $('#modal1').modal('hide')"}
						HABLEMOS

#modal2.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg{:role => "document"}
		.modal-content
			%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
				%span{"aria-hidden" => "true"} &times;
			.modal-body
				.modal-img-2
				.modal-text#text-2
					.center-h
						.center-v
							.content-title
								Gerencia Hotelera
							.content-txt
								Administración multinivel de un Hotel, creando procesos o mejorándolos para que sean transparentes limpios y auditables, reflejando resultados financieros y operativos. Enfocados en formar Gerencias a base de liderazgos, identidad, sentido de pertenecía, marca y branding.
			.modal-footer
				Comunícate con nosotros y hagamos cosas extraordinarias
				%li
					%a{ onclick: "scrollToAnchor('contact'); $('#modal2').modal('hide')"}
						HABLEMOS

#modal3.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg{:role => "document"}
		.modal-content
			%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
				%span{"aria-hidden" => "true"} &times;
			.modal-body
				.modal-img-3
				.modal-text#text-3
					.center-h
						.center-v
							.content-title
								Capacitación Hotelera
							.content-txt
								Selección, instrucción, organigramas y entrenamiento adaptados y hechos a la medida del negocio en cuestión.
			.modal-footer
				Comunícate con nosotros y hagamos cosas extraordinarias
				%li
					%a{ onclick: "scrollToAnchor('contact'); $('#modal3').modal('hide')"}
						HABLEMOS

#modal4.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog.modal-lg{:role => "document"}
		.modal-content
			%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
				%span{"aria-hidden" => "true"} &times;
			.modal-body
				.modal-img-4
				.modal-text#text-4
					.center-h
						.center-v
							.content-title
								Dotación Hotelera
							.content-txt
								Equipamos completamente su hotel, ofrecemos suministro de equipos e insumos, tales como lencería y decoración, para que usted ofrezca el máximo confort en su negocio, vida de casa y comodidad.
			.modal-footer
				Comunícate con nosotros y hagamos cosas extraordinarias
				%li
					%a{ onclick: "scrollToAnchor('contact'); $('#modal4').modal('hide')"}
						HABLEMOS
