%section#services
	.services
		.center-h
			.center-v
				.title
					Servicios
				.separator
					.center-h
						.sep-line
				.subtitle
					%p{ style: "margin-bottom: 0;" } ¿Porque elegirnos?
					%p Nuestro equipo esta enfocado en servirle con la mejor calidad.
				.icon-services
					.icon
						.center-h
							.center-v
								.image
									.center-h
										.service-img.animated{onclick: "$('#modal1').modal('show')"}
											= image_tag('frontend/Apertura_Hotelera.png')
								.txt-service
									Apertura Hotelera
					.icon
						.center-h
							.center-v
								.image
									.center-h
										.service-img.animated{onclick: "$('#modal2').modal('show')"}
											= image_tag('frontend/Gerencia_Hotelera.png')
								.txt-service
									Gerencia Hotelera
					.icon
						.center-h
							.center-v
								.image
									.center-h
										.service-img.animated{onclick: "$('#modal3').modal('show')"}
											= image_tag('frontend/Capacitacion_Hotelera.png')
								.txt-service
									Capacitación Hotelera
					.icon
						.center-h
							.center-v
								.image
									.center-h
										.service-img.animated{onclick: "$('#modal4').modal('show')"}
											= image_tag('frontend/Dotacion_Hotelera.png')
								.txt-service
									Dotación Hotelera
					= render 'modals'
	.banner-blog
		.center-h
			.center-v{style: "background-color: rgba(85, 83, 87, 0.46); padding-left: 50px; padding-right: 50px;"}
				TENEMOS MUCHO MÁS QUE DECIR
				%li
					%a{ onclick: "scrollToAnchor('contact')"}
						HABLEMOS


:javascript
	if ($(window).width() >= 992 ){
		$('.service-img').mouseover(function(){
			$(this).addClass('pulse infinite');
		});
		$('.service-img').mouseout(function() {
			$(this).removeClass('pulse infinite');
		});
	}
