
.dropdown
	%a.btn{"data-target" => "#", "data-toggle" => "dropdown", :role => "button"}
		Categorías
		%span.caret
	%ul.dropdown-menu.multi-level{"aria-labelledby" => "dropdownMenu", :role => "menu"}
		- @categories.each do |category|
			- unless category.posts.count.zero?
				%li.dropdown-submenu
					= link_to filter_path('category', category.permalink), style: "display: inline-block;" do
						%i.fa.fa-share
						= category.name.titleize
					- unless category.subcategories.empty?
						%ul.dropdown-menu
							- category.subcategories.each do |subcategory|
								- unless subcategory.posts.count.zero?
									%li
										= link_to filter_subcategory_path(category.permalink, subcategory.permalink), :tabindex => "-1", class: "#{'active' if category.permalink.eql?(params[:category]) and subcategory.permalink.eql?(params[:subcategory])}" do
											%i.fa.fa-share
											= subcategory.name
