= title "Gerencia Hotelera - Blog"
= meta_description "Bienvenidos al blog de keppler admin, aquí podras encontrar excelentes articulos sobre ruby on rails."

.title-news
	Noticias
.container.blog#keppler-blog
	.visible-xs
		= render 'search'
	.row
		.col-lg-8.col-xs-12
			.posts-wrapper
				- unless @posts.empty?
					- @posts.each do |post|
						.post
							.date
								= l( post.created_at, format: "%d %b, %Y")
							.category
								%i.fa.fa-tag
								= link_to filter_path('category', post.category.permalink) do
									= post.category.name.capitalize
								-if post.subcategory 
									%i.fa.fa-angle-double-right
									%i.fa.fa-tag
									= link_to filter_subcategory_path(post.category.permalink, post.subcategory.permalink) do
										= post.subcategory.name
							%h2.post-title
								= link_to post.title, blog_show_post_path(post.permalink, popup: "true")
							.separator
								.sep-line
							.autor
								= link_to post.user.name, filter_path('autor', post.user.permalink)
							.post-image
								= link_to blog_show_post_path(post.permalink) do
									= image_tag post.image
							.post-body{style: "margin-top: 20px; margin-bottom: 20px;"}
								= sanitize(post.body, tags: []).truncate(250)
								.read-more
									= link_to "Leer más", blog_show_post_path(post.permalink), class: "btn"
					= paginate @posts, :views_prefix => 'templates'
				- else
					%center
						No se encontraron resultados.
					%hr.hr-half

		= render "sidebar"
		
.footer#footer-blog
	.center-h
		.center-v
			.slice
				Desarrollado por 
				= link_to "http://slicegroup.xyz" do
					= image_tag('frontend/Slice.png', id: 'logo-slice')