= title @post.title
= meta_description sanitize(@post.body, tags: []).truncate(150)

.title-news
	Noticias
.container.blog#keppler-blog
	.row
		.col-lg-8.col-xs-12
			.posts-wrapper
				.post
					.date
						= l( @post.created_at, format: "%d %B, %Y")
					.category
						%i.fa.fa-tag
						= link_to filter_path('category', @post.category.permalink) do
							= @post.category.name.capitalize
						-if @post.subcategory 
							%i.fa.fa-angle-double-right
							%i.fa.fa-tag
							= link_to filter_subcategory_path(@post.category.permalink, @post.subcategory.permalink) do
								= @post.subcategory.name
					%h2.post-title
						= link_to @post.title, blog_show_post_path(@post.permalink, popup: "true")
					.separator
						.sep-line
					.autor
						= link_to @post.user.name, filter_path('autor', @post.user.permalink)
					.post-image
						= link_to blog_show_post_path(@post.permalink) do
							= image_tag @post.image
					= @post.shared_enabled ? social_share_button_tag(@post.title) : "<br>".html_safe
					.post-body
						= @post.body.html_safe
				
				= render 'facebook_comments'

		= render "sidebar"

		
.footer#footer-blog
	.center-h
		.center-v
			.slice
				Desarrollado por 
				= link_to "http://slicegroup.xyz" do
					= image_tag('frontend/Slice.png', id: 'logo-slice')