@import "../core/main";

.about{
  padding-top: 50px;
  padding-bottom: 50px; 
  background: $blue;
  height: 230px;

  @include phone-all{
    height: 350px;;
  }
  @media #{$tablet}{
    height: auto;
  }
  

  .center-h{
    .about-content{
      display: block;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 100%;
      width: 65%;
      position: relative;
      font-style: italic;
      @include phone-all{
        width: 90%;
        display: flex;
      }
      @media #{$tablet}{
        width: 90%;
        display: flex;
      }
      .about-logo{
        width: 50%;
        color: white;
        display: inline-block;
        float: left;
        opacity: 0;
        img{
          max-width: 50%;
        }
        @include phone-all{
          width: 100%;
          display: block;
          float: center;
          opacity: 1;
          margin-top:  px;
        }
        @media #{$tablet}{
          width: 100%;
          display: block;
          float: center;
          opacity: 1;
          margin-top: 0px;
        }
      }
      .about-text{
        height: 100%;
        width: 50%;
        color: white;
        display: inline-block;
        float: right;
        opacity: 0;
        @include phone-all{
          width: 100%;
          display: block;
          float: center;
          margin-top: 20px;
          opacity: 1;
          height: 80%;
        }
        @media #{$tablet}{
          width: 100%;
          display: block;
          float: center;
          margin-top: 20px;
          opacity: 1;
          height: 80%;
        } 
        #text-about{
          width: 80%;
          margin-left: 10%;
          @include no-phone{
            width: 96%;
            margin-left: 2%;            
          }
        }      
      }
    }
  }
}

