@import "../core/main";

@mixin icon-before($icon){
  content: $icon;
  font-family: FontAwesome;
}

.blog{
	height: auto;
  padding-top: 50px;
  .posts{
  	margin-top: 20px;
		display: flex;
		@include phone-all{
			display: block;
		}
		@media #{$tablet}{
			display: block;
		}

		.single-post{
			height: 250px;
			width: 50%;
			padding: 0;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: cover;
			display: inline-block;
			@include phone-all{
				width: 100%;
			}
			@media #{$tablet}{
				width: 100%;
			}

			.mask-info{
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,0.65);
				font-size: 17px;
				font-style: italic;
				font-weight: 400;
				a{
					font-size: 25px;
					font-weight: 400;
					color: black;
					text-decoration: none;
					@include transitions(0.5s);
					padding-left: 30px;
    			padding-right: 30px;
				}
				a:hover{
					@include only-desktop{
						font-size: 28px;
					}
				}
				label{
					font-size: 15px;
					font-weight: 400;
					color: $blue;
				}
			}
		}
	}
}

.title-news{
	height: 170px;
	padding-top: 90px;
	font-size: 35px;
	color: white;
	text-align: center;
	background: $blue;
	width:100%;
	font-weight: 300;
	font-style: italic;
}
.posts-wrapper{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
	.post{
		.category{
			display: inline;
			font-size: 17px;
			font-style: italic;
			float: right;
			a{
				color: black;
				text-decoration: none;
			}
		}
		.date{
			font-size: 17px;
			font-style: italic;
			display: inline;
		}
		.post-title{
			margin-top: 5px;
			margin-bottom: 3px;
			font-style: italic;
			font-weight: 400;
			a{
				text-decoration: none;
				color: $blue;
				font-size: 38px;
			}
		}
		.autor{
			margin-bottom: 20px;
			a{
				text-decoration: none;
				color: black;
				font-style: italic;
				font-size: 16px;
			}
		}
		.social-share-button{
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.social-share-button{
			a{
				text-decoration: none;
				color: $blue;
				font-size: 30px;
				margin-left: 3px;
				@include transitions(0.5s);
			}

			a:hover{
				color: $ocre;
			}

			&-twitter:before{
				@include icon-before("\f081");
			}

			&-facebook:before{
				@include icon-before("\f082")
			}
			
			&-google_plus:before{
				@include icon-before("\f0d4")
			}

			&-pinterest:before{
				@include icon-before("\f0d3")
			}

			&-tumblr:before{
				@include icon-before("\f174")
			}

			&-email:before{
				@include icon-before("\f199")
			}
		}
	}
}
.blog-widget{
	#search{
		input{
			width: 100%;
			height: 40px;
			padding: 8px 12px;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #333333;
			vertical-align: middle;
			background-color: #ffffff;
			border: 1px solid #cccccc;
		}
	}   
	.widget-title{
		font-style: italic;
    font-weight: 400;
    font-size: 24px;
	}
	#recents{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding-left: 20px;
    a{
    	color: $blue;
    }
    span{
			font-size: 15px;
			font-weight: 500;
			font-style: italic;
    }
	}
	#tags{
		padding-left: 0;
		li{
			display: inline-block;
			padding: 5px 15px;
	    background: #EAEAEA;
	    border: 1px solid #C7C7C7;
	    margin-bottom: 5px;
	    @include transitions(0.5s);
			a{
				color: black;
				text-decoration: none;
				i{
					color: black;
				}
			}
		}
		li:hover{
			background: #B5B0B0;
			border: 1px solid #8E8C8C;
		}
	}
	
}
.dropdown{
	border: 1px solid #c5c5c5;
  .btn{
  	width: 100%;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    color: black;
    text-align: left;
    font-style: italic;
    font-weight: 600;
    span{
			float: right;
			margin-top: 7px;
    }
  }
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 0;
	width: 100%;
	background: #dddddd;
	border: none;
	li{
		a{
			padding-bottom: 10px;
			padding-top: 10px;
			padding-left: 20px;
		}
	}
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-menu > li > a{
	width: 100%;
}

.dropdown-submenu>a:after {
  display: block;
  float: right;
  width: 0;
  height: 0;
  border: none;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border: none;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 0;
}
.read-more{
	text-align: right;
	margin-bottom: 20px;
	a{
		background: $blue;
    border-radius: 0;
    border: 1px solid $blue;
    color: white;
	  @include transitions(0.5s);
	}
	a:hover{
		background: white;
    color: $blue;
	}
}
.pagination{
	width: 100%;
	text-align: center;
	.page{
		a{
			color: $blue;
			font-weight: 600;
			font-size: 15px;
			@include transitions(0.5s);
		}
		a:hover{
			font-size: 20px;
		}
	}
	.pagecurrent{
		color: $ocre;
		font-weight: 600;
		cursor: default;
		font-size: 20px;
	}
	.next, .last, .prev, .first{
		a{
			i{
				color: $blue;
				font-size: 15px;
				font-weight: normal;
				@include transitions(0.5s);
			}
		}
		a:hover{
			i{
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
}
#twitter-widget-0{
	margin-bottom: 30px !important;
}