@import "../core/main";

.contact{
	padding-top: 50px;
	padding-bottom: 50px;
	
	.contact-form{
		width: 40%;
		margin-left: 30%;
		margin-top: 30px;

		@include phone-all{
	    width: 90%;
	    margin-left: 5%;
	  }
	  @media #{$tablet}{
	    width: 80%;
	    margin-left: 10%;
	  }

		input{
			height: 40px;
			border-radius: 0;
			margin-bottom: 10px;
		}
		textarea{
			border-radius: 0;
			margin-bottom: 10px;
		}

		.form-actions{
			height: 40px;
			margin-top: 5px;
			.btn{
				padding: 10px 50px;
				border: 1px solid $blue;
				background: $blue;
				color: white;
				font-weight: bold;
      	@include transitions(0.5s);
      	@include no-phone{
      		float: right;
      	}
			}
			.btn:hover{
				color: $blue;
				background: white;
			}
		}
		.g-recaptcha div:nth-child(1){
		  transform: scale(0.82);
		  transform-origin: 0 0;
		}
	}

}