@import "../core/main";
#footer{
	height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#footer-blog{
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer{
	background-color: #191f55;
	#logo-footer{
		height: 80px;
	}
	#linea_footer {
		margin-top: 10px;
	}
	#logo-slice{
		width: 70px;
		display: inline-block;
		margin-left: 5px;
	}
	.social-icons{
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 15px;
		.icon{
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 10px;
			border: 1px solid white;
			@include transitions(0.5s);
			i{
				font-size: 25px;
				color: white;
				@include transitions(0.5s);
			}
		}
		.icon:hover{
			border: 1px solid rgba(255,255,255,0.3);
			@include transitions(0.5s);
			i{
				color: rgba(255,255,255,0.3);
				@include transitions(0.5s);
			}
		}
	}
	.contacts{
		label{
			display: block;
			color: white;
			font-weight: 500;
			font-style: italic;
			font-size: 15px;
		}
	}
	.slice{
		color: white;
		display: inline-block;
		font-style: italic;
	}
}