// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";
html, body, main{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}


.center-h{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  .center-v{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
}
.title{
	color: $blue;
	font-size: 40px;
	font-weight: 400;
	font-style: italic;
	margin: 0;
}
.separator{
	width: 100%;
	height: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
	.sep-line{
		height: 5px;
		width: 50px;
		background: #AE933C;
	}
}
.subtitle{
	color: $blue;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	margin: 0;
}


.front{
	height: 100%;
	.front-container{
		height: 100%;
		.front-logo-horizontal{
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			height: 100%;
			.front-logo-vertical{
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-justify-content: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				@include phone-all{
					.front-logo{
						width: 300px;
					}
				}
			}
		}

		//flexbox
		.flex-contenedor{
			width: 400px;
			background: #fff;
			padding: 10px;
			border: 10px solid #2c3e50;
			display: -webkit-flex;
			display: -ms-flex;
			display: -ms-flexbox;
			display: flex;
			//flex-direction: row;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			-webkit-justify-content: flex-start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			//align-content: center;


			.element{
				color: #fff;
				margin: 5px;
				height: 100px;
				-webkit-flex: 1 1 100px;
				    -ms-flex: 1 1 100px;
				        flex: 1 1 100px;
				background: #e67e22;
				display: -webkit-flex;
				display: -ms-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-justify-content: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-align-items: center;
				    -ms-flex-align: center;
				        align-items: center;				
			}
		}
	}
}