@import "../core/main";

.alert{
  position: absolute;
  bottom: 50px;
  z-index: 3;
  right: 20px;
}
.home{
  height: 100%;

  .home-slide{
    height: 100%;
  }
  .home-slide-container{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .slide-mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
  }

  .slick-dots li button:before{
    font-size: 18px !important;
    color: rgba(255,255,255,0.65) !important;
  }
  .slick-dots{
    z-index: 1;
    .slick-active{
      button:before{
        color: white !important;
      }
    }
  }

  .home-text{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    .welcome{
      color: white;
      span{
        display: block;
        font-size: 50px;
        font-style: italic;
        font-weight: 800;
        height: 55px;
        @media #{$phone}{
          font-size: 30px;
          height: 35px;
        }
      }
      #text-welcome{
        font-size: 15px;
        font-style: italic;
        display: block;
        margin-bottom: 25px;
      }
      a{
        text-decoration: none;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        color: black;
        font-style: italic;
        font-weight: 600;
        border: 1px solid #fffefc;
        cursor: pointer;
        @include transitions(0.5s);
      }
      a:hover{
        background-color: transparent;
        color: white;
      }
    }
  }

  .slick-list, .slick-track{
  	height: 100%;
  }
  .prev{
  	display: block !important;
    position: absolute !important;
    z-index: 1 !important;
    height: 100% !important;
    width: 50px !important;
    top: 0 !important;
    margin: 0 !important;
    left: 0px !important;
    li{
      font-size: 50px;
      color: white;
    }
    li:hover{
      font-size: 60px;
    }
  }
  .next{
  	display: block !important;
    position: absolute !important;
    z-index: 1 !important;
    height: 100% !important;
    width: 50px !important;
    top: 0 !important;
    margin: 0 !important;
    right: 0px !important;
    li{
      font-size: 50px;
      color: white;
    }
    li:hover{
      font-size: 60px;
    }
  }
  .slick-dots{
  	bottom: 0 !important;
  }
  .slick-slider {
    margin-bottom: 0 !important;
  }
}