@import "../core/main";

#front-navbar{
	background: transparent;
}
#blog-navbar{
	background: $blue;
}

.navbar{ 
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	height: 70px;
	.container{
		width: 90%;
		padding-left: 0px;
		padding-right: 0px;
		@media #{$desktop}{
	    width: 70%;
	  }
	  @media #{$desktop-large}{
	    width: 60%;
	  }
		@media #{$tablet}{
	    width: 90%;
	  }
		@media #{$tablet-landscape}{
	    width: 90%;
	  }
		
	}
	.navbar-brand{
		height: 70px;
		padding: 5px;
		img{
			height: 60px;
		}
	}
}
.navbar-noColor{
	background-color: transparent !important;
	@include transitions(1s);
	.current{
		border: 1px solid transparent !important;
    a{
    	color: #b5993b !important;	
    }
	}
	.navbar-nav{
		height: 70px;
		li{
			border: 1px solid transparent;
			a{
				height: 68px;
				padding-top: 25px;
				color: white;
				@include transitions(0.5s);
			}
		}
		li:hover {
			cursor: pointer;
			a{
				color: #b5993b;	
			}
		}
	}
}
.navbar-Color{
	background-color: $blue !important;
	@include transitions(1s);
	.current{
		border: 1px solid #b5993b !important;
    a{
    	color: #b5993b !important;	
    }
	}
	.navbar-nav{
		height: 70px;
		li{
			border: 1px solid transparent;
			@include transitions(0.5s);
			a{
				height: 68px;
				padding-top: 25px;
				color: white;
				@include transitions(0.5s);
			}
		}
		li:hover {
			border: 1px solid #b5993b;
			cursor: pointer;
			a{
				color: #b5993b;	
			}
		}
	}
}
.navbar-toggle:active:hover, .navbar-toggle:active:focus, .navbar-toggle:active.focus, .navbar-toggle.active:hover, .navbar-toggle.active:focus, .navbar-toggle.active.focus, .open > .navbar-toggle:hover, .open > .navbar-toggle:focus, .open > .navbar-toggle.focus{
	background: transparent !important;
}
.navbar-toggle{
	border: none;
	border-radius: 0;
	width: 45px;
	height: 45px;
	margin: 0;
	top: 10px;
	.icon-bar{
		width: 25px;
		background-color: white !important;
	}
}
.navbar-collapse[aria-expanded="true"], .collapsing{
	border-color: transparent !important;
	box-shadow: none !important;
	background: #191F55;
	margin-left: -30px !important;
	margin-right: -30px !important;
	ul{
		height: auto !important;
    margin: 0;
    width: 100%;
    li{
    	height: 50px;
			margin-left: -15px;
			margin-right: -15px;
    	a{
				height: 48px !important;
				padding-top: 15px !important;
				padding-bottom: 0px;
				width: 100%;
    	}
    }
    li:hover, .current{
    	background: $ocre;
    	border: none !important;
    	a{
				color: $blue !important;
    	}
    }
	}
}