@import "../core/main";

.services{
	height: auto;
  padding: 50px;
  background: white;;
  width: 100%;
  justify-content: center;
  .icon-services{
  	height: 150px;
  	display: inline-flex;
  	width: 70%;
  	margin-left: 15%;

	  @include no-desktop{
	    width: 100%;
	    margin-left: 0;
	    height: 300px;
	    display: inline-table;
	  }

		.icon{
			width: 25%;
			height: 100%;
			display: inline-block;
			@include no-desktop{
		    width: 50%;
		    height: 150px;
		    display: -moz-grid;
		    margin-bottom: 30px;
		  }
			.service-img{
				width: 100px;
				height: 100px;
				display: flex;
				border: 3px solid #B5993B;
				border-radius: 50%;
				padding: 15px;
				cursor: pointer;
				img{
					max-height: 100px;
				}
			}
			.txt-service{
				text-align: center;
				color: $blue;
				font-style: italic;
				font-weight: 600;
				padding-top: 15px;
			}
		}
  }
}
.banner-blog{
	height: 300px;
	width: 100%;
	background: image-url('frontend/Hablemos.png') no-repeat;
	background-position: 0 25%;
	background-size: cover;
	color: white;
	font-size: 28px;
	font-style: italic;
	font-weight: 400;
	li{
		display: inline;
		a{
			padding: 10px 30px;
			color: black;
			text-decoration: none;
			background: white;
			font-size:15px;
			font-style: italic;
			font-weight: 600;
			border: 1px solid white;
			cursor: pointer;
			@include transitions(0.5s);
		}
	}
	a:hover{
		background: transparent;
		color: white;
	}
}

.modal{
	.modal-dialog{
		.modal-content{
			border-radius: 0;
			border: 2px solid $blue;
			box-shadow: 0px 0px 73px 20px $blue;
			.close{
				position: absolute;
				right: 0;
				top: 0;
				height: 40px;
				width: 40px;
				z-index: 1;
				span{
					font-size: 40px;
					font-weight: 400;
				}
			}
			.modal-body{
				height: auto;
				display: table;
				padding: 0;
				@for $i from 1 through 4{
					.modal-img-#{$i}{
						height: 500px;
						width: 50%;
						display: table-cell;
						@include phone-all{
							width: 100%;
							height: 350px;
							position: absolute;
						}
						@media #{$tablet}{
							width: 100%;
							height: 350px;
							position: absolute;
						}
					}
				}
				.modal-img-1{
					background: image-url('frontend/Home-1.jpg');
					background-position: 50%;
					background-size: cover;
					background-repeat: no-repeat;
				}
				.modal-img-2{
					background: image-url('frontend/Home-2.jpg');
					background-position: 50%;
					background-size: cover;
					background-repeat: no-repeat;
				}
				.modal-img-3{
					background: image-url('frontend/Home-3.jpg');
					background-position: 50%;
					background-size: cover;
					background-repeat: no-repeat;
				}
				.modal-img-4{
					background: image-url('frontend/Home-4.png');
					background-position: 35% 50%;
					background-size: 115% 100%;
					background-repeat: no-repeat;
				}
				.modal-text{
					width: 100%;
					height: 500px;
					padding-left: 30px;
					padding-right: 30px;
					position: relative;
					background: rgba(255,255,255,0.85);
					@include phone-all{
						height: 350px;
					}
					@media #{$tablet}{
						height: 350px;
					}
					.content-title{
						margin-bottom: 30px;
						font-size: 25px;
						font-style: italic;
						color: $blue;

						@include phone-all{
							font-weight: 600;
						}
						@media #{$tablet}{
							font-weight: 600;
						}
					}
					.content-txt{
						color: $ocre;
						font-style: italic;
						font-size: 16px;
						font-weight: 400;

						@include phone-all{
							font-weight: 600;
						}
						@media #{$tablet}{
							font-weight: 600;
						}
					}
				}
			}
			.modal-footer{
				background: #AFAFAF;
				text-align: center;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				border: none;
				li{
					display: block;
					margin-top: 10px;
					margin-bottom: 15px;
					a{
						background: white;
						padding: 7px 15px;
						text-decoration: none;
						color: black;
						font-style: italic;
						font-weight: 600;
						border: 1px solid white;
						cursor: pointer;
						@include transitions(0.5s);
					}
					a:hover{
						color: white;
						background: transparent;
					}
				}
			}
		}
	}
}