-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top{id: "#{controller_name == 'frontend' ? 'front-navbar' : 'blog-navbar' }", class: " #{'navbar-Color' if controller_name == 'blog' }"}
  .container
    .navbar-header
      %button.btn.btn-default.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        .center-h
          .center-v
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      .navbar-brand.pull-left
        = link_to "/" do 
          =image_tag "frontend/Logo_color.png"
    - if controller_name == 'frontend'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.pull-right        
          %li#bar-home
            %a{ onclick: "scrollToAnchor('home')"}  INICIO
          %li#bar-about
            %a{ onclick: "scrollToAnchor('about')"}  ¿QUIENES SOMOS?
          %li#bar-services
            %a{ onclick: "scrollToAnchor('services')"}  SERVICIOS
          %li#bar-blog
            %a{ onclick: "scrollToAnchor('blog')"}  BLOG
          %li#bar-contact
            %a{ onclick: "scrollToAnchor('contact')"}  CONTACTO
    -else
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.pull-right        
          %li#bar-home
            = link_to "/#home" do
              INICIO
          %li#bar-about
            = link_to "/#about" do
              ¿QUIENES SOMOS?
          %li#bar-services
            = link_to "/#services" do
              SERVICIOS
          %li#bar-blog.current
            = link_to "/blog" do
              BLOG
          %li#bar-contact
            = link_to "/#contact" do
              CONTACTO

:javascript
  $(document).click(function (event) {
    var clickover = $(event.target);
    if ( $(".navbar-collapse").hasClass("in") === true && !clickover.hasClass("navbar-toggle")) {      
      $(".navbar-collapse").collapse('hide');
    }
  });